# Proxy credentials - get yours from mrscraper.com or webshare.io
WEBSHARE_PROXY=http://username:password@proxy.mrscraper.com:10000
PROXY=http://username:password@p.webshare.io:80

# Number of concurrent browser instances
MAX_CONCURRENCY=10